.navLink{
    text-decoration: none;
    margin-right: 15px;
    font-size: medium;
}

.signOut{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.displayUser{
    width: 60px;
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;
}